a{
    margin-top: 10px;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: aqua;
}
body{
    background-color: antiquewhite;
}
header{
    margin: auto;
}
main{
    margin: auto;
}
p{
    font-size: 22px;
    text-align: justify;
}

h1{
    font-size: 50px;
    color: bisque;
    text-align: center;
    background-color: blanchedalmond;
}
#imagem{
    background-image: url(aab-67.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: brown;
    height: 100vh;

}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#menu{
    display: none;
}